<div _ngcontent-oso-c230="" class="container-fluid">
    <div _ngcontent-oso-c230="" class="row">
        <div _ngcontent-oso-c230="" class="col-md-8">
            <div _ngcontent-oso-c230="" class="card">
                <div _ngcontent-oso-c230="" class="card-header card-header-info">
                    <h4 _ngcontent-oso-c230="" class="card-title">Update Catégorie</h4>

                </div>
                <div _ngcontent-oso-c230="" class="card-body">
                    <div _ngcontent-oso-c230="" novalidate="" class="ng-untouched ng-pristine ng-valid">
                        <div _ngcontent-oso-c230="" class="row">
                        
                            <div _ngcontent-oso-c230="" class="col-md-12" hidden>
                                <div _ngcontent-oso-c230="" 
                                    class="mat-form-field example-full-width ng-tns-c122-19 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                    <div class="mat-form-field-wrapper ng-tns-c122-19">
                                        <div class="mat-form-field-flex ng-tns-c122-19">

                                            <div class="mat-form-field-infix ng-tns-c122-19">
                                                <input  type="number" 
                                                    [(ngModel)]="currentCategorie.id" name="id"
                                                    class="mat-input-element mat-form-field-autofill-control ng-tns-c122-19 cdk-text-field-autofill-monitored"
                                                    placeholder="Adress" 
                                                    
                                                >
                                                <span class="mat-form-field-label-wrapper ng-tns-c122-19">
                                                    <label
                                                        class="mat-form-field-label ng-tns-c122-19 mat-empty mat-form-field-empty ng-star-inserted"
                                                        ng-reflect-disabled="true" id="mat-form-field-label-39"
                                                        ng-reflect-ng-switch="false" for="mat-input-19"
                                                        aria-owns="mat-input-19"><span
                                                            class="ng-tns-c122-19 ng-star-inserted">Id</span>

                                                    </label>

                                                </span>
                                            </div>

                                        </div>
                                        <div class="mat-form-field-underline ng-tns-c122-19 ng-star-inserted"><span
                                                class="mat-form-field-ripple ng-tns-c122-19"></span></div>

                                        <div class="mat-form-field-subscript-wrapper ng-tns-c122-19"
                                            ng-reflect-ng-switch="hint">

                                            <div class="mat-form-field-hint-wrapper ng-tns-c122-19 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                style="opacity: 1; transform: translateY(0%);">

                                                <div class="mat-form-field-hint-spacer ng-tns-c122-19"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div _ngcontent-oso-c230="" class="row">

                            <div _ngcontent-oso-c230="" class="col-md-12">
                                <div _ngcontent-oso-c230=""
                                    class="mat-form-field example-full-width ng-tns-c122-19 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                    <div class="mat-form-field-wrapper ng-tns-c122-19">
                                        <div class="mat-form-field-flex ng-tns-c122-19">

                                            <div class="mat-form-field-infix ng-tns-c122-19">
                                                <input _ngcontent-oso-c230="" matinput="" type="text"
                                                    [(ngModel)]="currentCategorie.codeC" name="codeC"
                                                    class="mat-input-element mat-form-field-autofill-control ng-tns-c122-19 cdk-text-field-autofill-monitored"
                                                    ng-reflect-placeholder="" ng-reflect-type="text" id="mat-input-19"
                                                    data-placeholder="" aria-invalid="false" aria-required="false"><span
                                                    class="mat-form-field-label-wrapper ng-tns-c122-19">
                                                    <label
                                                        class="mat-form-field-label ng-tns-c122-19 mat-empty mat-form-field-empty ng-star-inserted"
                                                        ng-reflect-disabled="true" id="mat-form-field-label-39"
                                                        ng-reflect-ng-switch="false" for="mat-input-19"
                                                        aria-owns="mat-input-19"><span
                                                            class="ng-tns-c122-19 ng-star-inserted">Code</span>

                                                    </label>

                                                </span>
                                            </div>

                                        </div>
                                        <div class="mat-form-field-underline ng-tns-c122-19 ng-star-inserted"><span
                                                class="mat-form-field-ripple ng-tns-c122-19"></span></div>

                                        <div class="mat-form-field-subscript-wrapper ng-tns-c122-19"
                                            ng-reflect-ng-switch="hint">

                                            <div class="mat-form-field-hint-wrapper ng-tns-c122-19 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                style="opacity: 1; transform: translateY(0%);">

                                                <div class="mat-form-field-hint-spacer ng-tns-c122-19"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-oso-c230="" class="row">
                            <div _ngcontent-oso-c230="" class="col-md-12">
                                <div _ngcontent-oso-c230=""
                                    class="mat-form-field example-full-width ng-tns-c122-19 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                    <div class="mat-form-field-wrapper ng-tns-c122-19">
                                        <div class="mat-form-field-flex ng-tns-c122-19">

                                            <div class="mat-form-field-infix ng-tns-c122-19"><input
                                                    _ngcontent-oso-c230="" matinput="" type="text"
                                                    [(ngModel)]="currentCategorie.libelle" name="libelle"
                                                    class="mat-input-element mat-form-field-autofill-control ng-tns-c122-19 cdk-text-field-autofill-monitored"
                                                    ng-reflect-placeholder="" ng-reflect-type="text" id="mat-input-19"
                                                    data-placeholder="Adress" aria-invalid="false"
                                                    aria-required="false"><span
                                                    class="mat-form-field-label-wrapper ng-tns-c122-19"><label
                                                        class="mat-form-field-label ng-tns-c122-19 mat-empty mat-form-field-empty ng-star-inserted"
                                                        ng-reflect-disabled="true" id="mat-form-field-label-39"
                                                        ng-reflect-ng-switch="false" for="mat-input-19"
                                                        aria-owns="mat-input-19"><span
                                                            class="ng-tns-c122-19 ng-star-inserted">Libelle</span>

                                                    </label>

                                                </span></div>

                                        </div>
                                        <div class="mat-form-field-underline ng-tns-c122-19 ng-star-inserted"><span
                                                class="mat-form-field-ripple ng-tns-c122-19"></span></div>

                                        <div class="mat-form-field-subscript-wrapper ng-tns-c122-19"
                                            ng-reflect-ng-switch="hint">

                                            <div class="mat-form-field-hint-wrapper ng-tns-c122-19 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                style="opacity: 1; transform: translateY(0%);">

                                                <div class="mat-form-field-hint-spacer ng-tns-c122-19"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div _ngcontent-oso-c230="" class="row">
                            <div _ngcontent-oso-c230="" class="col-md-12"></div>
                        </div>
                        <button _ngcontent-oso-c230="" mat-raised-button="" type="reset"
                            class="mat-focus-indicator btn btn-light pull-right mat-raised-button mat-button-base"><span
                                class="material-icons">
                                clear
                            </span><span class="mat-button-wrapper">Close</span><span matripple=""
                                class="mat-ripple mat-button-ripple" ng-reflect-disabled="false"
                                ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span><span
                                class="mat-button-focus-overlay"></span></button>

                        <button _ngcontent-oso-c230="" mat-raised-button="" type="submit" (click)=" updateCategorie()"
                            routerLink="/list-categoriei"
                            class="mat-focus-indicator btn btn-info pull-right mat-raised-button mat-button-base">
                            <span class="material-icons">
                                add_circle_outline
                            </span>
                            <span class="mat-button-wrapper"> Submit</span><span matripple=""
                                class="mat-ripple mat-button-ripple" ng-reflect-disabled="false"
                                ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span><span
                                class="mat-button-focus-overlay"></span></button>
                        <div _ngcontent-oso-c230="" class="clearfix"></div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>