<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h2 class="card-title ">Liste User</h2>
                        <span class="material-icons">
                            keyboard_return
                            </span>
                       
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                       Username
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>Accepter </th>
                                    <th>Réviser</th>
                                   
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            
                                            <span class="material-icons">
                                                person_add
                                                </span>

                                                </td>
                                                <td>

                                            <span class="material-icons">
                                                person_add_disabled
                                                </span>
                                               
                                        </td>
                                        
                                    </tr>
                                   
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  
